button {
  margin-left: 20px;
}

#content {
  margin: 5%;
}

#description {
  font-size: 15pt;
  font-weight: bold;
}

#attention-description {
  font-size: 15pt;
  font-weight: bold;
  text-decoration: underline solid black;
}

.half-input {
  width: 300px;
}

.header2 {
  font-size: 15pt;
  font-weight: bold;
}

.text {
  font-size: 14pt;
}
